@page
@model GroupAssignment.Pages.ManageUsers.IndexModel
@{
}

<h1>Manage Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>            
            <th>
                Role
            </th>
            <th>
                Change Role
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.UserAndRoles)
        {
            <tr>
                <td>
                    @user.Key.UserName
                </td>                
                <td>
                    @user.Value
                </td>
                <td>
                    <form asp-route-id="@user.Key.Id"  method="post">
                        <select asp-for="SelectedRole" asp-items="Model.Options">                            
                        </select>
                        <button class="btn-sm btn-danger">Save</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

